---
// const data = await fetch("").then((response) => response.json());
// console.log(data);
import "../style/style.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Signup from "../components/Signup.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <Header />
    <main>
      <div class="hero">
        <img src="./images/heroindex.webp" alt="karruselMedBlur" height="100%" width="100%" />
        <h1>KARRUSEL FESTIVAL</h1>
      </div>

      <div class="grid_1_1">
        <div>
          <h2>WELCOME TO KARRUSEL FESTIVAL</h2>
          <p>3 days of house, disco and techno in the woods. Karrusel believes in the right to a harassment-free festival experience. We believe in the right of everyone to express themselves. <br /></p>Karrusel welcomes everybody – all with their different orientations, experiences, histories and backgrounds. Karrusel only exists if everyone takes care of each other, respects their own and others boundaries, embraces diversity and acts as a part of the community.
        </div>
      </div>
      <div><img src="./images/billet.webp" alt="billet" /></div>
    </main>

    <div class="h2_moments">
      <h2>MOMENTS TO REMEBER</h2>
      <p><br />Highlighting the unforgettable moment of the festival</p>
    </div>
    <div>
      <img src="./images/karrusel.webp" alt="karrusel" />
    </div>

    <div class="grid_2_1">
      <div class="image-container">
        <img src="/images/lineupoverview.webp" alt="billet" />
      </div>
      <div class="text-container">
        <h2>LINE UP OVERVIEW</h2>
        <p>
          <br />Find out who’s performing at Karrusel Festival.<br /><br />
          Get ready for 3 days of house, disco and techno in the woods with some amazing acts.
        </p>
      </div>
    </div>

    <Signup />
  </body>

  <Footer />
</html>

<style>
  .hero {
    /* position: relative; */
  }

  .hero h1 {
    position: absolute;
    top: 60%;
    left: 5%;
    /* transform: translate(-50%, -50%); */
  }
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 45px;
    gap: 30px;
  }

  .h2_moments {
    margin: 45px;
    gap: 30px;
  }
  .grid_2_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 45px;
    gap: 30px;
    border: 2px solid #6e2880;
    padding: 20px;
    background-color: #6e2880;
  }
</style>
