---

// const data = await fetch("").then((response) => response.json());
// console.log(data);
import "../style/style.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Signup from "../components/Signup.astro";
import { image } from "astro:assets";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
 
  <body>
	<header>
    <Header />
</header>
	<main>
   <div class="hero">
    <img src="./images/heroindex.webp" alt="karruselMedBlur">
    <h1>KARRUSEL FESTIVAL</h1>
  </div>

    <Signup />
</main>
<footer>
    <Footer />
	</footer>
  </body>

  <style>
	
  </style>

</html>

