* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #000000, #2c0c56, #9b6dd6);
  height: 100vh;
  margin: 0;
}

:root {
  /*font_color*/
  --primary-color: #ffff;
  --waring-color: #9ad328;

  /*font_family*/
  --font-family: ;

  /*others*/
}

h1,
h3,
p {
  color: var(--primary-color);
}

h2 {
  color: var(--waring-color);
}
