---

---

<footer>
  <section>
    <div>
      <p>Address</p>
      <p>Refshalevej 193, 1432</p>
      <p>Copenhagen , Denmark</p>
    </div>
    <div>
      <p>Contact</p>
      <p>Contact: info@nusnus.dk</p>
      <p>Karrusel is organized by Nus Nus</p>
    </div>
  </section>

  <div></div>
</footer>
