---
import { Image } from "astro:assets";
---

<footer >
  <section class="grid_4 footer">
    <div>
      <p>Address</p>
      <p>Refshalevej 193, 1432</p>
      <p>Copenhagen , Denmark</p>
    </div>
    <div>
      <p>Contact</p>
      <p>Contact: info@nusnus.dk</p>
      <p>Karrusel is organized by Nus Nus</p>
    </div>
    <div> 
        <img
        src="./images/instagram.png"
        alt="instagram billede logo"
        width="20px"
        height="20px"
        />

        <img
        src="./images/facebook.png"
        alt="instagram billede logo"
        width="20px"
        height="20px"
        />
    </div>

  </section>

  <style>
.grid_4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
    
.footer{
    position: fixed;
   left: 5px;
   bottom: 0;
}
  </style>  
</footer>
