---
import { Image } from "astro:assets";
---
<div class="navbar";>
    <img
  src="./icon/menu.svg"
  alt="karrusel billede logo"
  width="136px"
  height="86px"
  />

  <p class="datomidten">28.-30. August 2025</p>

<p>Burgermenu vises her</p>

</div>


<style>
  
.navbar{
    overflow: hidden;
    background-color: rgba(255,255,255,0.1);
    position: sticky;
    /* position: -webkit-sticky; */
    top: 0;
    display: flex;
    text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  }

.datomidten{
margin-right: 30%;
margin-left: 30%;
  }
  
    </style>