---
import image from "astro:assets"; 
import {Button} from './components/Botton.astro';

---
<div class="grid_2">
    <img
    src="/images/ux.jpeg"
    alt=""
    height="350"
    width="350"
  />
<div>
    <h3> 
        <a href="#0">{title}</a>
    </h3>
    <p></p>
    <div class="grid_4">
            <Button title="..." />
            <Button title="..." />
    <!-- hjerte tegn og lyn tegn -->
</div>

</div>

</div>