---

---
<div class="signupcard">
<h3>STAY IN THE LOOP - SIGN UP FOR NEWSLETTER</h3>
<p>Get news and exclusive updates straight to your inbox</p>

<div>
  <form>
    <label>Name:</label>
    <input type="text" id="name" name="name" value="" />
    <label>E-mail:</label>
    <input type="text" id="email" name="email" value="" />
    <input type="submit" value="SIGN UP" />
  </form>
</div>
</div>



<style>
    h3{
        color: white;
    }
    p{
        text-align: center;
        /* P i den konstante ødelægger den for mig. Det er dens max width der ødelægger det */
    }
    label{
        color: white ;
    }

    .signupcard{
        text-align: center;
        margin-top:30%;
    }
</style>
