<h3>STAY IN THE LOOP - SIGN UP FOR NEWSLETTER</h3>
<p>Get news and exclusive updates straight to your inbox</p>

<div>
  <form>
    <label>Name:</label>
    <input type="text" id="name" name="name" value="" />
    <label>E-mail:</label>
    <input type="text" id="email" name="email" value="" />
    <input type="submit" value="SIGN UP" />
  </form>
</div>
